:root {
    /* Colors */
    --background-color: #083b4c;
    --box-blue: #1389b2;
    --box-green: #0bd6a1;
    --box-yellow: #ffd165;
    --box-red: #f0466f;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
.bg-blue {
    background-color: var(--box-blue);
}

.fizz {
    background-color: var(--box-green);
}

.buzz {
    background-color: var(--box-yellow);
}

.fizzbuzz {
    background-color: var(--box-red);
}

/* COMMON */
body {
    background-color: var(--background-color);
}

/* CONTAINER */

h1 {
    color: white;
    text-align: center;
    font-size: 5rem;
}

.container {
    margin: 1rem auto;
    width: 50%;
}

.box-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: .5rem;
}
